.ufooter {
  margin-top: 30px;
  margin-bottom: 0px;
}

.pane { display: none; }
#pane1 { display: block; }

#container {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
}

.pane_footer {
  margin-top: 3em;
  text-align: center;
}

#countdown {
  font-size: 5em;
  font-family: 'Lucida Console','Lucida Sans Typewriter',monaco,'Bitstream Vera Sans Mono',monospace;
  background-color: #f7c801;
  color: black;

  border-radius: 20px;
  
  line-height: 3em;
  padding: 0.4em;
  display: inline;
  border: 7px double #333;
}

.icon_wrapper {
  position: relative;
  border: 5px solid #f7c801;
  border-color: rgba(247, 200, 1, 0.8);
  border-radius: 20px;
}

.icon_wrapper img {
  width: 100%;
  border-radius: 15px;
}

.icon_description {
  position: absolute;
  bottom: 0px;
  width: 100%;

  background-color: #f7c801;
  background-color: rgba(247, 200, 1, 0.8);

  padding: 1em;
  font-weight: 500;
  border-radius: 0 0 10px 10px; /* sort of arbitrary -- just keeping corners from poking out of parent */
}
